* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.scene {
    background-color: #0d0d0d;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.arena {
    position: relative;
    width: 600px;
    height: 400px;
    border: 1px solid #333;
}
.ui {
    color: aliceblue;
}
.ui .prompt {
    position: absolute;
    top: 65%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%,-50%);
    animation: 
        prompt-display 2s ease-out forwards,
        prompt-pulse 3s ease-in-out infinite;
    animation-delay: 
        3.5s,
        5.5s;
}
@keyframes prompt-display {
    from {
        opacity: 0;
        transform: translate(-50%,-50%) translateY(10px);
    }
    to {
        opacity: 0.8;
        transform: translate(-50%,-50%) translateY(0);
    }
}
@keyframes prompt-pulse {
    0% { opacity: 0.8; }
    50% { opacity: 0.6; }
    100% { opacity: 0.8; }
}
.arena .radiance{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color:white;
    position: absolute;
    top: 20%;
    left: 20%;
    box-shadow: 
        0 0 20px rgba(255, 208, 0, 0.6),
        0 0 60px rgb(246, 255, 0),
        0 0 120px rgb(255, 230, 0);
    animation: 
        radiance-enter 2s ease-out forwards,
        radiance-float 5s ease-in-out infinite;
    animation-delay: 
        0s,
        2s;
}
@keyframes radiance-float {
     0%   { transform: translateY(0, 0); }
     50% { transform: translateY(-8px); }
     100% { transform: translateY(0px); }
}
@keyframes radiance-enter {
    0% {
        transform: translateY(-40px) scale(0.8);
        opacity: 0;
    }
    100% {
         transform: translateY(0px) scale(1);
        opacity: 100;
    }
}
.arena .knight {
    width: 40px; 
    height: 80px;
    position: absolute;
    bottom: 42px; /* */
    left: 50%;
    background-color: aquamarine;
    transform: translateX(-50%);
}
.arena .platform {
    width: 100px;
    height: 20px;
    background-color: aliceblue;
}
.arena #center {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}
.arena #left {
    position: absolute;
    bottom: 10px;
    left: 25%;
    transform: translateX(-50%);
}
.arena #right {
    position: absolute;
    bottom: 10px;
    left: 75%;
    transform: translateX(-50%);
}

