* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.scene {
    background-color: #0d0d0d;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.ui {
    color: aliceblue;
    position: relative;
}
.arena {
    position: relative;
    width: 600px;
    height: 400px;
    border: 1px solid #333;
}
.arena .radiance{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color:whitesmoke;
    position: absolute;
    top: 20%;
    left: 20%;
}
.arena .knight {
    width: 40px; 
    height: 80px;
    position: absolute;
    bottom: 42px; /* */
    left: 50%;
    background-color: aquamarine;
    transform: translateX(-50%);
}
.arena .platform {
    width: 100px;
    height: 20px;
    background-color: aliceblue;
}
.arena #center {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}
.arena #left {
    position: absolute;
    bottom: 10px;
    left: 25%;
    transform: translateX(-50%);
}
.arena #right {
    position: absolute;
    bottom: 10px;
    left: 75%;
    transform: translateX(-50%);
}

